@charset "UTF-8";

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 250px;
    background: black;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", "Nanum Gothic", sans-serif, 'Inter';
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    box-sizing: border-box;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#logo img {
    width: 290px;
    height: auto;
    padding-right: 200px;
}

#text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1000px;
    align-items: left;
}

#main_text {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    align-items: left;
}

#main_text a {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
    border-bottom: 1px solid white;
}

#main_text a:hover {
    color: #CCCCCC;
}

#sub_text {
	margin-top: 10px;
    font-size: 15px;
    line-height: 1.6;
    align-items: left;
}

#company-info,
#business-license,
#address {
    margin-bottom: 2px;
    text-align: left;
}

/* 모달 배경 */
.privacy_modal, .terms_modal{
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 화면에 고정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정 배경 */
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#privacy_pop, #terms_pop{
    width:500px; height:650px; padding:40px; text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(34,36,38,0.15); 
}

h2 {
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 800;
    color: white;
    letter-spacing: 1.5px;
}

#privacy_button, #terms_button{
    position: relative;
}

#privacy_mbtn, #terms_mbtn{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#privacy_mbtn:hover, #terms_mbtn:hover {
    background-color: #0056b3;
}

/* 텍스트 영역 스타일 */
#textarea {
    width: 400px;
    height: 425px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    resize: none; /* 사용자가 크기 조절하지 못하도록 */
    margin-bottom: 20px;
}