<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.BoardDao">
	<!-- 게시판 리스트 -->
	
	<select id="selectList" resultType="com.java.dto.BoardDto">
		select * from
		(select row_number() over(order by  tno desc, tstep asc) rnum, a.* from happyadopt a
		<!--  <if test="category == 'ttitle' or category =='tcontent'">
			where ${category} like '%'||#{searchWord}||'%' 
		</if>
		<if test="category == 'all'">
			where ttitle like '%'||#{searchWord}||'%' or tcontent like '%'||#{searchWord}||'%'
		</if>
		-->)
		where rnum between #{startRow} and #{endRow}
	</select>

	<!-- 게시글 총개수 -->
  <select id="selectCount" resultType="int">
    select count(*) from happyadopt
    <!--  <if test="category == 'ttitle' or category == 'tcontent'">
      where ${category} like '%'||#{searchWord}||'%'
    </if>
    <if test="category == 'all'">
      where ttitle like '%'||#{searchWord}||'%' or tcontent like '%'||#{searchWord}||'%'
    </if>-->
    
  </select>
 <!-- 게시글 1개 가져오기 : 현재글 -->
  <select id="selectOne" resultType="com.java.dto.BoardDto">
    select * from happyadopt where tno=#{tno}
  </select>
  <!-- 게시글 이전글 -->
  <select id="selectOnePrev" resultType="com.java.dto.BoardDto">
    select * from
	(select row_number() over(order by tgroup desc,tstep asc) rnum, a.* from happyadopt a)
	where rnum = (
	select rnum from 
	(select row_number() over(order by tgroup desc,tstep asc) rnum, a.* from happyadopt a)
	where tno=#{tno}
	)-1
  </select>
  <!-- 게시글 다음글 -->
  <select id="selectOneNext" resultType="com.java.dto.BoardDto">
    select * from
	(select row_number() over(order by tgroup desc,tstep asc) rnum, a.* from happyadopt a)
	where rnum = (
	select rnum from 
	(select row_number() over(order by tgroup desc,tstep asc) rnum, a.* from happyadopt a)
	where tno=#{tno}
	)+1
  </select>
  
  
  
  <!-- 게시글 저장 -->
  <insert id="insertBoard">
    insert into happyadopt values ( happyadopt_seq.nextval,#{id},#{ttitle},#{tcontent},
    sysdate,0,0,0,#{tfile},0)
  </insert>
  
  <!-- 조회수 증가 -->
  <update id="updateBhit">
    update happyadopt set thit = thit+1 where tno=#{tno}
  </update>
  
  <!-- 게시글 삭제 -->
  <delete id="deleteBoard">
    delete happyadopt where tno=#{tno}
  </delete>
  
  <!-- 게시글 수정 -->
  <update id="updateBoard">
    update happyadopt set ttitle=#{ttitle},tcontent=#{tcontent},tdate=sysdate,tfile=#{tfile}
    where tno=#{tno}
  </update>
  
  <!-- 답글 저장 -->
  <insert id="insertReply">
    insert into happyadopt values ( happyadopt_seq.nextval,
    #{id},#{ttitle},#{tcontent},sysdate,#{tgroup},#{tstep}+1,#{tindent}+1,#{tfile},0 )
  </insert>
  
  <!-- bstep 1증가 -->
  <update id="updateBstep">
    update happyadopt set tstep = tstep+1 where tgroup=#{tgroup} and tstep>#{tstep}
  </update>
 

	

</mapper>