/* Main Section */
#id {
  margin: 0;
  padding: 0;
}

section {
  text-align: center; background-color:  #FAF7F0;
  width: 100%; min-height: 1100px; padding-bottom: 35px;
}
#blank1{width: 100%; height: 100px;}
#main{position: relative; width: 100%; box-sizing: border-box;}

.subbanner { position: relative; width: 100%; height: 350px; background: url('/image/back22.jpg') no-repeat 0 -400px;
			background-size: cover; }

h1 {
  position: relative;
  top: 40px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 650;
}

.wrapper {
  position: relative;
  top: 60px;
}

select {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 40px;
  margin-left: -185px;
  margin-top: -20px;
  background-color: white;
  padding: 5px;
  border: 1px solid #666666;
  font-family: inherit;
}

select::-ms-expand {
  display: none;
}

form > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 38px;
  margin-left: -100px;
  margin-top: -20px;
  background-color: white;
  display: inline-block;
  border: 1px solid #666666;
}

input {
  position: relative;
  top: 4px;
  left: 2px;
  border: none;
  font-size: 16px;
}

input:active,
input:focus,
input:hover {
  outline: none;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: 106px;
  margin-top: -20px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  position: relative;
  top: 60px;
  width: 90%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  text-align: center;
}

.table-Must {
  background-color: #E16172;
  color: white;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}
.table-notice {
  background-color:  #E16172;
  color: white;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}
.table-normal {
  background-color: #EDDDE0;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.table-title {
  text-align: left;
  
}
.table-title > a { color: black; font-weight: 600;}


table {
  border-collapse: collapse;
}

th {
  border: 1px solid silver;
  border-top: 2px solid black;
  font-weight: 550;
}

td {
  border: 1px solid silver;
}


th,
td {
  border-left: hidden;
  border-right: hidden;
}

.page-num { display: flex;
  margin-top: 30px;
  position: relative;
  top: 60px;
  justify-content: center;
}

.page-num li {
  width: 36px; height: 35px;
  padding: 0;
  text-align: center;
}

.first {
  background: url(https://www.midashotel.co.kr/Midas_common/images/homepage/board/paging_first.png) no-repeat;
}

.prev {
  background: url(https://www.midashotel.co.kr/Midas_common/images/homepage/board/paging_prev.png) no-repeat;
}

.num {
  height: 33px !important;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px rgb(233, 233, 233) solid;
  background-color: rgb(233, 233, 233);
  
}

.num > div {
  position: relative;
  top: 2px;
}

.next {
  background: url(https://www.midashotel.co.kr/Midas_common/images/homepage/board/paging_next.png) no-repeat;
}

.last {
  background: url(https://www.midashotel.co.kr/Midas_common/images/homepage/board/paging_last.png) no-repeat;
}


#blank {
	width: 100%; height: 30px; position: relative; top: 60px;
}

.write {
  display: block;
  position: relative; top: 60px; right: 70px;
  float: right;
  width: 120px;
  height: 50px;
  line-height: 50px;

  border: 2px black solid;
  background-color: black;
  
}

.write > a {
	cursor: pointer;
	display: inline-block;
	color: white;
 	font-weight: 600;
 	width: 120px;
    height: 50px;
}