@charset "UTF-8";

#admin{height: 100%;}       
section{position: relative; top:100px; left:0; min-height:850px;
	background-color: #FAF7F0; flex:1; display: flex}

button[type="button"]{ cursor: pointer;}

#s01 { background-color : rgb(209, 209, 209);
						> a {color: black;};}				


.main{position: relative;
    width: 80%;
    margin-left: 310px;
    padding-top: 40px;
    padding-left: 40px;
    box-sizing: border-box;}
    
.main > h2{ font-size: 28px; color: #342F2F; text-align: left;
            font-family: Roboto;
            font-optical-sizing: auto;
            font-style: normal; }
.main > h2 > span { font-weight: 550; border-bottom: 1px solid rgb(209, 209, 209);}

.member > h4{ width : 100%; height :  30px; color: #333; 
			font-size: 18px;
            font-weight: 600;
            box-sizing: border-box;
            margin : 0 auto; margin-bottom: 10px;
            padding: 0 0 10px 10px; }
.member > h4 > span { font-size: 13px; color: #555;}
.member{margin-top: 45px; margin-bottom: 30px;}
.member > button{ margin-top: 10px; width:90px; height: 40px; background: #342F2F; color: white; font-size: 12px;
            font-weight: 550; border: none; position: relative; left: 1430px;}

#mem {
		display: table;
	    width: 100%;
	    font-size: 15px;
	    margin: 0 auto;
	    margin-bottom: 15px;
	    border-collapse: collapse;
	    background-color: rgb(246, 246, 246);
}
#mem > tr,td {border : 1px solid rgb(209,209,209); height: 25px;
				padding-left: 10px;}
#mem > thead { font-size: 15px; text-align: center;
			background-color: rgb(209, 209, 209); border-top: 3px solid rgb(209, 209, 209);}
			
.byemem { margin-bottom: 50px;}

.byemem > h4{ width : 100%; height :  30px; color: #333; 
			font-size: 18px;
            font-weight: 600;
            box-sizing: border-box;
            margin : 0 auto; margin-bottom: 10px;
            padding: 0 0 10px 10px; }
#bye {
		display: table;
	    width: 100%;
	    font-size: 15px;
	    margin: 0 auto;
	    margin-bottom: 15px;
	    border-collapse: collapse;
	    background-color: rgb(246, 246, 246);
}
#bye > tr,td {border : 1px solid rgb(209,209,209); height: 25px;
				padding-left: 10px;}
#bye > thead { font-size: 15px; text-align: center;
			background-color: rgb(209, 209, 209); border-top: 3px solid rgb(209, 209, 209);}           


#click {width: 100%; height: 30px; background-color: black; color: white;
		font-size: 15px; font-weight: 550; border: none; border-radius: 5px;}

.chart{ 
	position: relative; left: 150px;
	width: 100%; display: flex; }

#chart_c { width: 40%; height: 300px; margin-top: 20px; }
#chart_g { width: 40%; height: 300px; margin-top: 20px; }

